*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-family: "Roboto", serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background:linear-gradient(#3498db, #a2baca);
}
.container{
    max-width: 700px;
    width:100%;
    background-color: white;
    padding: 25px 30px;
    border-radius: 5px;


}
h1{
    font-size: 40px;
}
.input{
    font-size: 20px;
    background-color: #f2f2f2;
    border: 1px solid #dcdcdc;
    border-radius: 4px;   
    display: flex;
    width: 100%;
    height: 40px;
    font-size: 15px;
    padding-left: 15px;
    border: 1px solid #ccc;
    outline: none;
    border-bottom-width: 2px;
    

}
.gender{
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: rebeccapurple;
    font-size: 20px;
    margin-bottom: 30px;
    width: 80%;
    margin: 14px 0px;
    
}
.input :hover{
    background-color: #b84848;
}
button{
    width: 100px;
    height: 30px;
    border: 1px solid #dcdcdc ;
    border-radius: 4px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 30px;
    
    
}